@import "tailwindcss";

@theme {
  --color-primary: #ec5b13;
  --color-primary-soft: #fdede7;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221610;
  --color-surface-light: #ffffff;
  --color-surface-dark: #2d2420;
  --color-text-main: #181311;
  --color-text-sub: #896f61;
  --color-text-main-dark: #eaddd7;
  --color-text-sub-dark: #b0a095;

  --font-display: var(--font-work-sans), sans-serif;

  --radius-xl: 1.5rem;
}

/* Custom scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-variation-settings-fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}